html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*=============================BEGIN CSS=================================*/

html, body {
  height: 100%;
	width: 100%;
  font-family: "Open Sans";
	cursor: default;
}

.navbar {
	position: absolute;
	top: 0;
	height: 49px;
	background: #101619;
	width: 100%;
	border-bottom: 1px #186144 solid;
	z-index: 2;
}

.navbar ul {

}

.navbar ul li {

}

.headerLogo {
	margin-left: 30px;
	float: left;
}

.navbar ul li a {
	color: #fff;
	text-decoration: none;
	margin-right: 50px;
	line-height: 50px;
	float: right;
}

.left {
	position: absolute;
	display: inline-block;
	width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.display {
	position: relative;
  height: 100%;
  width: 100%;
	background: #1E2C36;
}

.backgroundImage {
	height: 100%;
	width: 100%;
}

.backgroundImage:before {
	content: "";
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 23, 40, 0.6),rgba(0, 23, 40, 0.6)), url("../images/sunburst.png");
	background-position: center;
	animation: infRotate 25s linear infinite;
}

.caseImage {
	height: 182px;
	width: 240px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: url("../images/case1.png") no-repeat;
	margin: auto;
	transition: .2s;
	cursor: pointer;
}

.caseImage:active {
	padding-top: 10px;
}

/*
.caseInfoContainer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 25vh;
	text-align: center;
	width: 450px;
	margin: 50px auto;
}
*/

.caseInfoContainer {
	position: absolute;
	right: 0;
	left: -45%;
	bottom: -50px;
	text-align: center;
	width: 450px;
}



.caseName {
	font-size: 22px;
	color: #fff;
}

.priceContainer {
	font-weight: 200;
	color: #fff;
	margin-top: 5px;
}

.casePrice {
	display: inline-block;
}

.keyPrice {
	display: inline-block;
}

.modalWindow {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	right: 0;
	left: 0;
	top: 50px;
	bottom: 0;
	z-index: 10;
}

.modalMain {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 600px;
	width: 700px;
	background: #101619;
	border: 1px #186144 solid;
}

.modalSkinName {
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.modalMain img {
	display: block;
	height: 450px;
	width: 450px;
	margin: 0 auto;
}

.unboxButton {
	position: absolute;
	right: 0;
	left: 0;
  bottom: 30px;
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	text-shadow: 0 0 10px rgba(255,255,255,0.3);
	transition: .1s;
	transform: scale(1);
	cursor: pointer;
	-webkit-user-select: none;
	box-shadow: 0 0 25px rgba(0,117,9,0.5);
	overflow: hidden;
}

.right {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	width: 575px;
	background: #090D10;
	border-left: 1px #186144 solid;
}

.rightMain {
  margin-top: 175px;
	margin-bottom: 135px;
	width: 100%;
	background: #101619;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.upgradeContainer {
	display: none;
	height: 100%;
	width: 100%;
	position: relative;
}

.inventoryContainer {
	display: block;
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

.upgrade.cantAfford {
	background: #150C0C;
	/*color: #080808;*/
}

.upgrade {
	position: relative;
	color: #fff;
	height: 100px;
	width: 570px;
	background: #090D10;
	margin: 2px auto;
	overflow: auto;
	border-radius: 3px;
	cursor: pointer;
}

.upgradePicture {
	background: green;
	height: 76px;
	width: 76px;
	float: left;
	margin: 9px;
	border: 2px #BA7729 solid;
	background: url(http://vignette4.wikia.nocookie.net/cswikia/images/a/ad/Csgo-default_rare_item.png/revision/latest?cb=20150227163025) no-repeat;
	background-size: cover;
	background-size: 100% 75%;
	background-position: left center;
}

.upgradeInfo {
	margin-top: 14px;
}

.upgradePrice {
	margin-top: 10px;
}

.upgradeDesc {
	margin-top: 10px;
}

.upgradeName {
  font-weight: 600;
}

.tradeButtonContainer {
	height: 135px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.container {
  height: 100%;
	width: 100%;
}

.main {
	overflow-x: hidden;
	top: 50px;
	height: 100%;
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
  transform: scale(1.05);
}

.button:active {
  background: linear-gradient(#1f8258, #114435);
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
  transform: scale(1);
  box-shadow: 0 0 35px rgba(43,137,68,0.5);
}

.buttonContainer {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;

}

.mainInfo {
	overflow: hidden;
	margin-top: 10px;
	text-align: center;
	color: #fff;
}

.money {
	font-size: 35px;
	margin-top: 10px;
}

.inventorySpace {
	margin-top: 10px;
	font-size: 20px;
}

.itemPrice {
	font-size: 13px;
	position: absolute;
	bottom: 0;
	height: 15px;
	text-align: center;
	background: #0C1013;
	width: 100%;
	line-height: 15px;
	color: #fff;
}

.inventoryItem {
	position: relative;
	width: 70px;
	height: 70px;
	border: 1px #1B2329 solid;
	margin: 6.5px 0px 0px 6.5px;
	float: left;
	cursor: pointer;
}

.inventoryItem img {
	width: 100%;
	height: 100%;
}

.notification.hidden {
	top: -50px;
}

.notification {
	position: absolute;
	left: 0;
	right: 0;
	top: 7px;
	width: 800px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #186144;
	color: #fff;
	margin: 0 auto;
	z-index: 10;
	border-radius: 3px;
	cursor: pointer;
	transition: .5s;
}

#canvas {
  background: #fff;
}

#drawing {
	z-index: 1;
}

.inventory {
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	text-shadow: 0 0 10px rgba(255,255,255,0.3);
	transition: .1s;
	transform: scale(1);
	cursor: pointer;
	-webkit-user-select: none;
	box-shadow: 0 0 25px rgba(0,117,9,0.5);
	overflow: hidden;
}

.shop {
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	text-shadow: 0 0 10px rgba(255,255,255,0.3);
	transition: .1s;
	transform: scale(1);
	cursor: pointer;
	-webkit-user-select: none;
	box-shadow: 0 0 25px rgba(0,117,9,0.5);
	overflow: hidden;
}

.tradeButton {
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  line-height: 85px;
  color: #fff;
  margin: 20px auto;
  width: 350px;
  height: 85px;
  background: linear-gradient(#1d7751, #0e382c);
  border: 3px #25793b solid;
  border-radius: 5px;
  text-shadow: 0 0 20px rgba(255,255,255,0.3);
  transition: .1s;
  transform: scale(1);
  cursor: pointer;
  -webkit-user-select: none;
  box-shadow: 0 0 25px rgba(0,117,9,0.5);
  overflow: hidden;
}

.tradeButton:hover {
  text-shadow: 0 0 20px rgba(255,255,255,0.5);
  transform: scale(1.05);
}

.tradeButton:active {
  background: linear-gradient(#1f8258, #114435);
  text-shadow: 0 0 20px rgba(255,255,255,0.5);
  transform: scale(1);
  box-shadow: 0 0 30px rgba(43,137,68,0.5);
}

.tradeButton:after {
  content: "";
  position: relative;
  top: -120px;
  left: -90px;
  display: block;
  width: 35px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(35deg);
  -webkit-filter: blur(20px);
  transition: none;
}

.tradeButton:hover:after {
  left: 400px;
  transition: .3s ease-in-out;
}


::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
   background-color: #25793B;
}

/*===============HELPERS===================*/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*===============KEYFRAMES=================*/

@keyframes infRotate {
	from {
		-ms-transform: rotate(0deg) scale(1.75);
    -moz-transform: rotate(0deg) scale(1.75);
    -webkit-transform: rotate(0deg) scale(1.75);
    -o-transform: rotate(0deg) scale(1.75);
    transform: rotate(0deg) scale(1.75);
	} to {
		-ms-transform: rotate(360deg) scale(1.75);
    -moz-transform: rotate(360deg) scale(1.75);
    -webkit-transform: rotate(360deg) scale(1.75);
    -o-transform: rotate(360deg) scale(1.75);
    transform: rotate(360deg) scale(1.75);
	}
}
